<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Draggable - Snap to element or grid</title>
  
  <style>
  .draggable { width: 90px; height: 80px; padding: 5px; float: left; margin: 0 10px 10px 0; font-size: .9em; }
  .ui-widget-header p, .ui-widget-content p { margin: 0; }
  #snaptarget { height: 140px; }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
 $(document).ready(function(){

setTimeout(function(){
 $('<h1 id="h11">drag me</h1>').appendTo('body').draggable();
},4000); 


//$('#h11').draggable().selectable() ;
 var width=$('#drop-area').width();
 var height=$('#drop-area').width();
 console.log(width+' '+height);
var bootstrap_grid_width=width/12;
console.log(bootstrap_grid_width);
  $('#logo').draggable({
    grid: [ bootstrap_grid_width,bootstrap_grid_width ],
		start: function(e, ui) {
            var p=ui.position;
           
      //console.log('drag start');    
		}, 
		drag: function(e, ui) {
            var p=ui.position;
         //   console.log('dragging');    
		},
		stop: function(e, ui) {
			
            var p=ui.position;
            console.log('drag stop at top='+p.top+' left='+p.left);    
		},
		containment:"#drop-area"
	});

});


  </script>
</head>
<body>
 

 
<div id="drop-area"  style="background-color: #deefde;height: 300px;width: 400px;">
  <p style="  font-weight:bold;">drop area here</p>
  
 </div>
<br style="clear:both">
 
<div id="logo" class="draggable ui-widget-content" style="background-color:royalblue">
  <p>draggable elements</p>
</div>
 
 
</body>
</html>